/* Hover effects on navigation links */
.nav-link:hover {
  color: #8400ff;
}

.nav-link:focus {
  color: palevioletred; 
}

/* Styling icons */
.bi {
  font-size: 24px; 
  color: #212529; 
}

.bi:hover {
  color:palevioletred; 
}

/* Adding lines between each navigation link */
.nav-item {
  position: relative;
}

.nav-item::after {
  content: "";
  position: absolute;
  top: 50%; 
  left: 100%; 
  width: 4px; 
  height: 20px; 
  background-color: #ccc; 
  transform: translateY(-50%); 
}
