<div id="carouselExampleParagraphs" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <p class="d-block w-100">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus optio voluptates reprehenderit iste, porro fugit dolorum atque error enim ratione nulla? Cupiditate consequuntur cum vero corporis suscipit excepturi libero animi.</p>
        </div>
        <div class="carousel-item">
            <p class="d-block w-100">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dignissimos labore optio dolorum beatae consequuntur dolor veritatis expedita veniam aliquam doloribus iusto deserunt hic id laboriosam quidem, excepturi, ea odio?</p>
        </div>
        <div class="carousel-item">
            <p class="d-block w-100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quaerat magnam saepe quo nam cumque sequi perspiciatis natus autem eius? Error vitae quo, non at aspernatur reprehenderit dolorum laudantium accusantium?</p>
        </div>
    </div>
</div>

<!-- Optional JavaScript; choose one of the two -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<script>
    // Activate Carousel with Fade Transition
    $('#carouselExampleParagraphs').carousel({
        interval: 5000, // Set the interval as per your requirement
        pause: 'hover',
        wrap: true
    });
</script>