/* _content/LiquorWebsite/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Hover effects on navigation links */
.nav-link:hover[b-nmvqymcyow] {
  color: #8400ff;
}

.nav-link:focus[b-nmvqymcyow] {
  color: palevioletred; 
}

/* Styling icons */
.bi[b-nmvqymcyow] {
  font-size: 24px; 
  color: #212529; 
}

.bi:hover[b-nmvqymcyow] {
  color:palevioletred; 
}

/* Adding lines between each navigation link */
.nav-item[b-nmvqymcyow] {
  position: relative;
}

.nav-item[b-nmvqymcyow]::after {
  content: "";
  position: absolute;
  top: 50%; 
  left: 100%; 
  width: 4px; 
  height: 20px; 
  background-color: #ccc; 
  transform: translateY(-50%); 
}
